body {
    margin: 0;
}

#canvas_container {
    display: flex;
    justify-content: center;
    padding: 16px;
}

#game_canvas_foreground {
    outline: 2px solid #000;
}

#debug_panel {
    font-family: monospace;
    white-space: pre-wrap;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}
